---
import Layout from '../layouts/Layout.astro';
import Badge from './../components/Badge.astro';
import arg from '../assets/icons/arg.svg?raw';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hey, soy Mateo Max <Badge>Disponible para trabajar</Badge></h1>
		<h2>+3 años de experiencia. Desarrollador web full stack SSR. De Tucuman, Argentina <Fragment set:html={arg} /></h2>
	</main>
</Layout>
